annotated-types==0.6.0
arrow==1.3.0
black==24.1.1
click==8.1.7
funcy==2.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
platformdirs==4.1.0
pydantic==2.6.0
pydantic_core==2.16.1
pyhumps==3.8.0
python-dateutil==2.8.2
six==1.16.0
types-python-dateutil==2.8.19.20240106
typing_extensions==4.9.0
